# Ignore all object files
*.o

# Ignore all files without extensions (executables)
# Matches files in any directory that do not contain a '.'
**/*

# Allow directories to be tracked
!*/

# Allow specific file types/extensions
!*.cpp
!*.h
!*.txt
!*.md
!.gitignore
